@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Manrope:wght@200..800&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-image: url("./images/bg-intro-desktop.png");
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  max-width: 1200px;
}

.box {
  background-color: hsl(248, 32%, 49%);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 0.9em;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 20px;
  border-radius: 5px;
}
.left-section {
  padding: 20px;
  width: 50%;
}

.left-section {
  color: white;
}

.left-section h1 {
  margin: 0;
  font-size: 4vw;
}

.left-section p {
  font-size: 0.9em;
  margin-top: 10px;
}
.right-section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
}
.right-section h2 {
  margin-top: 0;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;

  font-weight: 500;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(248, 32%, 49%);
  border-radius: 5px;
  box-sizing: border-box;
}

.button {
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
}

.button:hover {
  background-color: #218838;
}

.terms {
  font-size: 0.8em;
  color: #666;
}

.terms a {
  color: #666;
  text-decoration: none;
}

.error {
  color: hsl(0, 100%, 74%);
  font-size: 12px;
}

@media only screen and (max-width: 990px) {
  body {
    height: auto;
  }
  .left-section {
    width: 90%;
    text-align: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }
}
